.App {
  text-align: center;
}

h1 
{
  margin: 0;
  font-family: Poppins;
  color: #2C041C;
  font-size: xx-large;
}

h2
{
  margin: 0;
  font-family: Poppins;
  color: #2C041C;
  font-size: x-large;
}

h3
{
  margin: 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: lighter;
}

p
{
  margin: 0;
  font-family: Poppins;
  font-size: small;
}

.HintParagraphSmall
{
  color: #888;
  text-align: justify;
  font-size: x-small;
}

.HintParagraphBig
{
  color: #888;
  font-size: small;
}
