.DetailsBackground {
  border-radius: 10px;
  box-shadow: 0 0 5px #888;
  padding: 15px;
  width: 90%;
  max-width: 700px;
}

.DetailsArea
{
  width: 100vw;
  max-width: 800px;
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DetailsArea h1
{
  margin: 0 0 20px 0;
}

.Header {
  padding: 0px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Header p {
  margin: 0;
  align-items: center;
  display: flex;
}

.FaUserGroup {
  padding: 0 0 0 0;
  margin: 0 5px 0 0;
}

.Text {
  padding: 0;
  text-align: justify;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.Text Button {
  padding: 5px 40px 5px 40px;
  margin: 10px 0 0 40px;
}

.Text .Buttons {
  display: flex;
  flex-direction: column;
}

.EditDetailsButtonArea
{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px 0 0 0;
}

.HorizontalSeparator
{
  height: 1px;
  background-color: #888;
  width: 100%;
  margin: 0px 0 10px 0;
}

.HomePageBackground
{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 0;
}

.HomeEventsList
{
  width: 100vw;
  max-width: 800px;
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomeEventItem
{
  border-radius: 10px;
  box-shadow: 0 0 5px #888;
  padding: 15px;
  width: 90%;
  max-width: 700px;
  margin: 10px 0 10px 0;
}

.HomeEventTop
{
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.HomeEventPhotoBackground img
{
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.HomeEventHeaderArea
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.HomeEventHeaderArea p
{
  display: flex;
  align-items: center;
  height: fit-content
}

.HomeEventTitleAndLocationArea
{
  text-align: start;
  margin: 0 0 0 10px;
  padding: 0;
}

.HomeEventTitleAndLocationArea h2, h3
{
  margin: 0 0 5px 0;
}

.HomeEventDescriptionArea
{
  text-align: justify;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.HomeEventButtonsArea
{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  position: relative;
  margin: 20px 0 0 0;
  align-items: center;

  .LeftSideButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    .EditEventButton 
    {
      height: 100%;
      margin-right: 10px;
    }
  
    .DeleteEventButton
    {
      margin-right: 10px;
      height: 100%;
    }
    .ListParticipantsButton
    {
      height: 100%;
      border-radius: 5px;
      border: 1px solid #2C041C;
      color: white;
      background-color: #2C041C;
    }
    .ListParticipantsButton:hover {
      background-color: #2C041C;
    }
  }

  .RightSideButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-left: 20px;
  }
}

.HorizontalSeparator
{
  height: 1px;
  min-height: 1px;
  background-color: #888;
  width: 100%;
  margin: 10px 0 10px 0;
}


.createNewEventForm
{
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  align-items: center;
}

.HomePastEvents
{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 0;
  transition: all 0.5s;
}

.ShowPastEventsButton
{
  width: 100%;
}

.ShowPastEventsButton h3
{
  color: #2C041C;
  font-family: 'Poppins';
  transition: all 0.5s;
}

.ShowPastEventsButton:hover
{
  cursor: pointer;
}

.ShowPastEventsArrow
{
  transition: all 0.5s;
}
