.Background {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 5px #888;
    padding: 15px;
    width: 100%;
    max-width: 700px;  
}

.Details
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 0;
}

.Header {
    padding: 0px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Header h2 {
    margin: 0;
}

.Header p {
    margin: 0;
    align-items: center;
    display: flex;
}

.FaUserGroup {
    padding: 0 0 0 0;
    margin: 0 5px 0 0;
}

.Text {
    padding: 0;
    text-align: justify;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.Text Button {
    padding: 5px 40px 5px 40px;
    margin: 10px 0 0 40px;
}

.Text .Buttons {
    display: flex;
    flex-direction: column;
}


.Edit {
    padding: 0 20px 10px 20px;
    display: 'flex';
    justify-content: 'flex-end';
    
}

.HorizontalSeparator
{
  height: 1px;
  background-color: #888;
  width: 100%;
  margin: 0px 0 10px 0;
}

h1 
{
  margin: 0;
}

h2
{
  font-size: x-large;
  margin: 0;
}

h3
{
  font-size: medium;
  font-weight: 400;
  margin: 0;
}

p
{
  font-size: small;
  font-weight: 400;
  margin: 0;
}

.HomePageBackground
{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 0;
}

.HomeEventsList
{
  width: 95vw;
  max-width: 800px;
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomeEventItem
{
  border-radius: 10px;
  box-shadow: 0 0 5px #888;
  padding: 15px;
  width: 90vw;
  max-width: 700px;
  margin: 10px 0 10px 0;
}

.HomeEventTop
{
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.HomeEventPhotoBackground img
{
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.HomeEventHeaderArea
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.HomeEventHeaderArea p
{
  display: flex;
  align-items: center;
  height: fit-content
}

.HomeEventTitleAndLocationArea
{
  text-align: start;
  margin: 0 0 0 10px;
  padding: 0;
}

.HomeEventTitleAndLocationArea h2, h3
{
  margin: 0 0 5px 0;
}

.HomeEventDescriptionArea
{
  text-align: justify;
}

.HomeEventAttendanceButtonsArea
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 20px 0 0 0;
}

.HorizontalSeparator
{
  height: 1px;
  background-color: #888;
  width: 100%;
  margin: 10px 0 10px 0;
}
