.MembersBackground
{
  display: flex;
  flex-direction: column;
  margin: 15px 0 0 0;
}

.MembersTop {
  display: flex;
  justify-content: space-between;
  margin: 0 20% 15px 20%;
}

.MemberRole
{
  color: #85717c;
  font-style: italic;
}
