.ModalBackground
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  min-height: fit-content;
  max-height: 90vh;
  overflow-y: scroll;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ModalBackground .TextField
{
  width: 100%;
  margin: 10px 0 10px 0;
}

.ModalBackground div
{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: right;
}