.HomePageBackground
{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 0;
}

h1 
{
  margin: 0;
}

.Background {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 5px #888;
    padding: 15px;
    width: 100%;
    max-width: 700px;  
}

.MyInfo {
  padding: 0;
  text-align: justify;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 15px;
}

p
{
  font-size: small;
  font-weight: 400;
  margin: 0;
}

img
{
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

